<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index Page</title>
</head>
<body>
<h1>Welcome to INDEX page!</h1>
<img src="https://i.gifer.com/77MK.gif" alt="gif">
<br/>
<br/>
<table>
    &nbsp;
    <form action="/login">
        <button type="submit">LogIn</button>
    </form>
    &nbsp;
    <form action="/logout">
        <button type="submit">LogOut</button>
    </form>
    &nbsp;
    <form action="/user">
        <button type="submit">UserInfo</button>
    </form>
    &nbsp;
</table>
</body>
</html>